<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <appSettings>
  </appSettings>

  <log4net>
    <appender name="ErrorRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/error/"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy-MM-dd.lo\g"/>
      <param name="StaticLogFileName" value="false"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="80MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>

    <appender name="LogRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/normal/"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy-MM-dd.lo\g"/>
      <param name="StaticLogFileName" value="false"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="80MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="All"/>
      <appender-ref ref="LogRollingLogFileAppender">
      </appender-ref>
    </root>

    <logger>
      <level value="WARN" />
      <appender-ref ref="ErrorRollingLogFileAppender"/>
    </logger>

    <logger name="errorlog">
      <level value="WARN"/>
      <appender-ref ref="LogRollingLogFileAppender"/>
    </logger>

  </log4net>
</configuration>